<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261873933675-s2jca1btg9pkr32god8fb7ntk6irhnsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261873933675-s2jca1btg9pkr32god8fb7ntk6irhnsf</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQjACGs9WoYqa920aX-fjbeFW0RSAxBM</string>
	<key>GCM_SENDER_ID</key>
	<string>261873933675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise5a</string>
	<key>PROJECT_ID</key>
	<string>exercise5a-164d7</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise5a-164d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261873933675:ios:e0c031cc88986bb728402e</string>
</dict>
</plist>